body { 
    background-color: #f8f9fa; 
}

.float-add { 
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    z-index: 1050; 
}

pre.export-area { 
    white-space: pre-wrap; 
    word-break: break-word; 
}

.step {
  border: 1px solid;
  padding: 5px;
  box-shadow: 3px 5px #888888;
}
